{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container mt-5" style="width: 30%;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="API key" id="apiKey">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="City" id="city">
            <button class="btn btn-outline-secondary btn-success" type="button" onclick="fetchData()"><i class="bi bi-check-lg text-white"></i></button>
        </div>

        <div id="error">
        </div>

        <ul class="nav nav-tabs">
{#            <li class="nav-item">#}
{#                <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">Link</a>#}
{#            </li>#}
            <div id="tabData">
            </div>
        </ul>

        <div id="tabInfo">
        </div>
    </div>

    <script>
        let identification = 0;
        let weathersData = [];
        let currentActiveId = -1;

        function tabClick($id) {
            if(currentActiveId !== -1) {
                $('#'+currentActiveId).removeClass('active');
            }
            $('#'+$id).addClass('active');
            currentActiveId = $id;

            $('#tabInfo').html(
                '<h3 class="d-flex justify-content-center">'+ weathersData[$id].name +'</h3>\n' +
                '<table class="table">\n' +
                '  <thead>\n' +
                '    <tr>\n' +
                '      <th scope="col">Lowest temperature</th>\n' +
                '      <th scope="col">Highest temperature</th>\n' +
                '      <th scope="col">Temperature now</th>\n' +
                '      <th scope="col">Weather description</th>\n' +
                '      <th scope="col">Wind speed</th>\n' +
                '    </tr>\n' +
                '  </thead>\n' +
                '  <tbody>\n' +
                '    <tr>\n' +
                '      <td>'+ weathersData[$id].main.temp_min +'</td>\n' +
                '      <td>'+ weathersData[$id].main.temp_max +'</td>\n' +
                '      <td>'+ weathersData[$id].main.temp +'</td>\n' +
                '      <td>'+ weathersData[$id].weather[0].description +'</td>\n' +
                '      <td>'+ weathersData[$id].wind.speed +'</td>\n' +
                '    </tr>\n' +
                '  </tbody>\n' +
                '</table>');
        }

        function checkInputs() {
            return $("#apiKey").val() !== '' && $("#city").val() !== '';
        }

        function checkIfAlreadyContains($data) {
            return weathersData.some(weathersData => weathersData.name === $data);
        }

        function fetchData(){
            if(checkInputs()) {
                $.ajax({
                    type: "POST",
                    url: "weather",
                    contentType: "application/json; charset=utf-8",
                    data: '{"apiKey":"' + $("#apiKey").val() + '","city":"' + $("#city").val() + '"}',
                    dataType: "json",
                    success: function (result) {
                        if (!checkIfAlreadyContains(result['name'])) {
                            $("#error").html("");
                            $('#tabData').append('<li class="nav-item"><a class="nav-link" onclick="tabClick(this.id)" id="' + identification + '">' + result['name'] + '</a></li>');
                            identification++;
                            weathersData.push(result);
                        } else {
                            $("#error").html('<div class="text-danger">This town already exists!</div>')
                        }
                    },
                    error: function () {
                        $("#error").html('<div class="text-danger">Something went wrong, try again!</div>')
                    }
                });
            } else {
                $("#error").html('<div class="text-danger">All inputs must be filled!</div>')

            }
        }
    </script>

{% endblock %}